.MainF1 {
    padding-left: 20px;
    height: 2000px;
    justify-content: center;

}
.MainNew {
    padding-top: 50px;
    padding-bottom: 20px;
}
.MainF2 {
    padding-bottom: 8%;
}
.MainW {
   padding-left: 10px;
   margin-right: 10px;
}

