.ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    
}
.ul2 {
    
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-top: 35px;
}

.li{
    display: inline-block;
}

.loginCheackBox{
    display: block;
    position: relative;
    text-align: left;
    padding-left: 50px;
    list-style-type: none;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size:12px;
    line-height: 15px;

}
.text{
    margin: 10px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -.5px;
    color: #888;
    text-align: center;
}

.contentInner{
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.menuId{
    display: block;
    margin: 0 auto;
    position: relative;
    height: 60px;
    width: 170px;
    padding-top: 17px;
    border: 2px solid #e3e3e3;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    background-color: #e3e3e3;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
    margin-top: 20px;
    color: #878787;
    
    
}
.on{
    display: block;
    margin: 0 auto;
    position: relative;
    height: 60px;
    width: 170px;
    padding-top: 17px;
    border: 2px solid #e3e3e3;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    background-color: #ffff;
    text-align: center;
    box-sizing: border-box;
    z-index: 5;
    margin-top: 20px;
}


.input{
    padding-bottom: 20px;
    display: table;
    table-layout: fixed;
    width: 100%;
    /* padding: 14px 17px 13px; */
    
}

.inputBox{
    border-radius: 5px;
    border: 2px solid #e3e3e3;
    height: 50px;
    width : 410px;
    margin: 0 auto;

}


.loginBox{
    display: block;
    position: relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 2px solid #e3e3e3;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    max-width: 510px;
    min-height: 400px;
    max-height: 400px;
    margin: 0 auto;
    /* box-shadow: 0px 3px 3px 0px rgba(136, 139, 139, 0.507); */
}
.loginDiv{
    display: block;
    position: relative;
    text-align: center;
    margin-top: -15px;
}

.button{
    height: 50px;
    width: 410px;
    color: white;
    background-color: #28282a;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    border-radius: 5px;

}