.footer{
    display: block;
    min-height: calc(100% - 120px);
}

.footerInner{
    padding: 63px 0 32px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
}
.li{
    display: inline-block;
}

.text{
    margin: 10px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -.5px;
    color: #888;
    text-align: center;
}
.copyRights{
    margin: 0 auto;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -.5px;
    color: #888;
    text-align: center;
}