.logoText {
        padding-top: 10px;
        padding-bottom: 20px;
        display: block;
        font-size:large;
        width: 270px;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
}

.logoIcon {
        padding-top: 60px;
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        
}
